.radius {
  border-radius: 30px;
}
.custom-card {
  width: 100%;
  border-radius: 10px;
}

.color-read {
  background: rgb(255, 239, 233);
}

.color-unread {
  background: rgb(255, 207, 190);
}

.click-card {
  cursor: pointer;
}

.color-red {
  color: red;
}
.color-green {
  color: green;
}
@media (max-width: 992px) {
  .custom-card-user {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .custom-card-user {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .custom-card-user {
    font-size: 10px;
  }
}
