@import "../../../../Assets/Styles/Variables.scss";

.steps-card-mobile {
  width: 17rem;
  max-width: 100%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  p {
    text-align: center;
    margin-top: 1rem;
  }
  img {
    height: 6rem;
  }
}
