@import "../../Assets/Styles/Variables.scss";

.product-wrapper * {
  margin: 0;
  padding: 0;
}

.product-wrapper {
  font-family: $roboto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 3px #e0e0e0;
  margin: 0.5rem;
  padding: 0 1rem 2rem 1rem;
  width: 13.8rem;
  height: 21rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // overflow-x: hidden;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.product-image {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.product-mid-text h3 {
  text-transform: capitalize;
  font-family: $roboto;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.product-mid-text p {
  color: #707070;
  font-size: 0.813rem;
}

.product-mid-text {
  text-align: center;
}

// .product-wrapper img {
//   margin-top: 1rem;
// height: 60%;
//   cursor: pointer;
// }

.price {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.price p {
  font-size: 1.063rem;
  font-weight: 600;
}

.price .strikethrough-price {
  font-size: 0.8rem;
  font-weight: lighter;
  text-decoration: line-through;
}

.added-to-cart {
  background-color: #5c77ff;
  display: flex;
  border-radius: 0.8rem;
  overflow: hidden;
  align-items: center;
  border: none;
  min-height: 1.8rem;
  min-width: 5rem;
  justify-content: space-evenly;
}

.added-to-cart p {
  font-size: 0.8rem;
  padding: 0 0.3rem;
  color: white;
  font-weight: 100;
}

.added-to-cart button {
  background-color: #5c77ff;
  width: 1.2rem;
  border: none;
  color: white;
}

.quantity_remaining {
  font-size: 0.7rem !important;
  margin-bottom: 0.3rem;
  color: rgb(255, 140, 140) !important;
}
@media #{$media-mobile} {
  .product-wrapper {
    margin: 0.5rem;
    padding: 0 0.5rem 1rem 0.5rem;
    width: 9.2rem;
    height: 15rem;
    // overflow: hidden;
  }

  .product-mid-text h3 {
    font-size: 0.9rem;
  }

  .product-mid-text p {
  }

  .product-mid-text {
  }

  // .product-wrapper img {
  //   height: 40%;
  //   cursor: pointer;
  // }

  .product-image {
    height: 40%;
  }

  .price {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }

  .price p {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .price .strikethrough-price {
    font-size: 0.68rem;
    font-weight: lighter;
    text-decoration: line-through;
  }
  .quantity_remaining {
    font-size: 0.6rem !important;
    margin-bottom: 0.3rem;
    color: rgb(255, 140, 140) !important;
  }
}

.heart-red {
  background-color: red;
  display: inline-block;
  height: 12.5px;
  margin: 0 0.5px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12.5px;
  cursor: pointer;
}

.heart-red:before,
.heart-red:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 12.5px;
  position: absolute;
  width: 12.5px;
}

.heart-red:before {
  top: -6.25px;
  left: 0;
}

.heart-red:after {
  left: 6.25px;
  top: 0;
}

.heart-red:active,
.heart-red:active:before,
.heart-red:active:after {
  background-color: rgb(139, 80, 80);
}

.heart-grey {
  background-color: #cecece;
  display: inline-block;
  height: 12.5px;
  margin: 0 0.5px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12.5px;
  cursor: pointer;
}

.heart-grey:before,
.heart-grey:after {
  content: "";
  background-color: #cecece;
  border-radius: 50%;
  height: 12.5px;
  position: absolute;
  width: 12.5px;
}

.heart-grey:before {
  top: -6.25px;
  left: 0;
}

.heart-grey:after {
  left: 6.25px;
  top: 0;
}

.heart-grey:active,
.heart-grey:active:before,
.heart-grey:active:after {
  background-color: rgb(139, 80, 80);
}

.image-viwer {
  text-align: center;
  padding: 1rem 0;
  min-height: 50vh;
  width: 20rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  img {
    max-height: 60%;
    max-width: 90%;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: bold;
  }
}

.out-of-stock {
  color: red;
}

.fade-card {
  opacity: 0.5 !important;
  // pointer-events: none;
}
