.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15333;
  background: rgba(0, 0, 0, 0.6);
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block !important;
}

.modal-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-height: 90vh;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 80vw;
  max-width: 30rem;
}

.modal-unset {
  max-width: unset !important;
}
