.slide-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.image-slider {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img {
  position: relative;
  width: 240px;
  height: 360px;
  transition: 0.5s;
  filter: saturate(10%);
}

button {
  position: absolute;
  width: 240px;
  height: 370px;
  transform: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
  width: 80px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
  width: 80px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
  width: 80px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 80px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
