@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$poppins: "Poppins", sans-serif;
$roboto: "Poppins", sans-serif;
$banner-color: #5879ea;
$blob-color1: #4063db;
$blob-color2: #3496ef;
$banner-text: white;
$successBackground: #e6e6fe;
$addontext: #212355;
$black: #000;

$category-title: #4461ee;

$category-card0: #ffe648;
$category-card1: #8edd4a;
$category-card2: #ff9176;
$category-card3: #ffba33;
$category-card4: #3ce9e2;
$category-card5: #ad87ff;
$category-card6: #1CEEBB;
$category-card-active: #119BFF;

$sub-category-bg-color: #D4ECFE;    

$offercolor0: linear-gradient(180deg, #ffd88c 0%, #ff9a9a 100%);
$offercolor1: linear-gradient(180deg, #80ff9c 0%, #deff53 100%);
$offercolor2: linear-gradient(180deg, #ffc773 0%, #ffdd00 100%);

$tabcolor0: #ffd09f;
$tabcolor1: #9aff92;
$tabcolor2: #5c77ff;
$tabcolor3: #ffe270;
$tabcolor4: #9ff9ff;
$tabcolor5: #e1dede;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 800px)";
$media-mobile: "only screen and (max-width : 600px)";
$platinum: #f2f2f2;
$white: #ffffff;

$arrow: #748af9;
$productarrowfill: #091a58;
$black: #020202;

$roboto-ruppe: "Roboto", sans-serif;

$alertyellow: #EED202;
$alerttext: #5d5c5c;