.cards-dashboard{
    
    display: flex;
    flex-wrap: wrap;
    min-height:  100vh; 
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.dashboard-heading{
    margin-left: 9%;
    
}
.cards-dashboard-noOrders{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.dashboard-heading-wrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}
.dashboard-notification-button{
    border-radius: 5px;
}