@import "../../Assets/Styles/Variables.scss";

.dashboard-content{
    width: 100%;
}

.dashboard-heading-wrapper{
    max-height: 3rem;
    white-space: nowrap;
    gap: 10px;

    span{
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }
}

.cards-dashboard-wrapper{
    min-width: 100%;
    border: 1px solid red;
}

