@import "../../Assets/Styles/Variables.scss";

.address-form-wrapper button {
  margin-left: auto;
}
.address-area-label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  text-align: left;
  margin-left: 0.5rem;
}
.area-options {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0 1rem 0 0;
  justify-content: space-between;
}

// .dropdown-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0;
//   background-color: #f5f5f5;
//   border-radius: 6px;
//   position: relative;

//   div {
//     margin: 0;
//   }
//   .input-container {
//     margin: 0 !important;
//     padding: 0;
//   }
//   .down-arrow-container {
//     padding: 0.3rem;
//     background-color: #f5f5f5;
//     height: 1.7rem;
//     width: 1.7rem;
//     display: flex;
//     border-radius: 50%;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//   }
// }

// .dropdown-container:hover .dropdown-content {
//   display: block;
// }

// .dropdown-content {
//   width: 100%;
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   cursor: pointer;
//   right: 0;
//   border-radius: 0.3rem;
//   margin: 0;
//   top: 2rem;
// }
// .dropdown-content p {
//   padding: 0.3rem 5rem 0.3rem 0.3rem;
//   margin: 0;
//   text-align: left;
// }
// .dropdown-content p:hover {
//   background-color: #dbdbdb;
// }

// .dropdown-arrow {
//   width: 1rem;
//   height: 1rem;
//   border-radius: 50%;
//   background-color: #f5f5f5;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

.address-form-wrapper {
  margin: 0 !important;
  padding: 0;

  input {
    margin: 0.4rem 0;
    padding: 0;
  }
}
.geolocation-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  p {
    font-size: 0.8rem;
    text-align: center;
    color: black;
    background-color: rgb(217, 217, 255);
    margin-left: 0.5rem;
    border-radius: 0.3rem;
  }
}
