@import "../../Assets/Styles/Variables.scss";
.Order__Success {
  &__Container {
    min-height: 60vh;
    background-color: $successBackground;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__Image {
  }
  &__Message {
    font-size: 2rem;
    font-family: poppins;
    font-weight: 700;
    text-align: center;
    width: 60%;
  }
}

.Order__Success__Container {
  .discount_modal {
    margin-bottom: 1rem;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
    .highlight-message {
      color: #4461ee;
      font-size: large;
      font-weight: bold;
    }
    img {
      max-width: 100%;
    }
  }

  .discount_modal:hover {
    padding: 1rem;
  }
}
.Redirecting {
  font-size: 1rem;
  margin: 1rem;
}
