@import "../../Assets/Styles/Variables.scss";

.invoice_item {
  display: flex;
  /* align-items: center; */
}

.b-bottom {
  border-bottom: 1px solid #9c9c9c;
}

.invoice-container {
  padding: 4rem 10%;
  background-color: $platinum;
}
.invoice-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .item-details {
    background-color: #ffffff;
    padding: 40px;
    width: 100%;
    border-radius: 10px;
    height: auto;
  }
  .price-details {
    width: 40%;
    margin-left: 3rem;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
  }
}


.discount-card-invoice {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  transition: 0.3s;
  padding: 1rem;
  .highlight-message {
    color: #4461ee;
    font-size: large;
    font-weight: bold;
  }
}

.discount-card-invoice:hover {
    padding: 1rem;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.table-wrapper{
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  background-color: rgba(226,231,255,.4392156862745098);
  border-radius: 10px;
}

.table{
  max-width: 100%;
  min-width: 40rem;
  border: none;
}


.table-head{
  display: flex;
  flex-direction: row;
  // white-space: nowrap;
}

.table{
  padding: 0;
  margin: 0;
}

.table-head th{
  font-size: large;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid white;
}

th:first-child{
  width: 200%;
}

.table-row{
  display: flex;
  flex-direction: column;
}

.table-row tr{
  font-size: smaller;
  width: 100%;
  text-align: center;
  margin: 0;
}

.table-row tr td{
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid white;
}


td:first-child{
  width: 200%;
}

@media #{$media-tablet} {

  .invoice-container {
    padding: 2rem 1rem !important;
  }

  .invoice-details {
    flex-direction: column;

    .price-details {
      margin-left: 0 !important;
      margin-top: 2rem;
      width: 100%;
    }
  }
}
.template{
  opacity: 0;
  position: absolute;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}