/* @import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "./v1/Assets/Styles/Variables.scss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  /* font:18px/28px; */
  /* font-family: "Montserrat", sans-serif !important; */
  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
  /* background: #2b273a !important; */
  /* color: #fff !important; */
  /* transition: all 1s ease; */
}

input::placeholder,
textarea,
textarea::placeholder,
input {
  font-family: "Poppins", sans-serif;
}
input:focus,
select:focus {
  outline: none;
}
.cursor {
  cursor: pointer;
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
  /* monospace; */
}

/* h1{
	font-size:72px;
}
h2{
	font-size:40px!important;
}
h3{
	font-size:36px;
}
h4{
	font-size:30px;
}
h5{
	font-size:24px;
}
h6{
	font-size:18px;
} */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #fff; */
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  box-shadow: 0 0 0px 0px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}
textarea {
  height: 28px;
}


.table-responsive {
  width: 100%;
}

table.product__details__table {
  width: 100%;
  background: #e2e7ff70;
  opacity: 0.96;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 20px;
}

table.product__details__table td,
table.product__details__table th {
  border: 1px solid #ffffff;
  padding: 15px;
}

table.product__details__table tbody td {
  font-size: 13px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  // position: absolute;
  // right: -0.35rem;
  // top: -0.35rem;
  // cursor: pointer;
  // width: 1.5rem;
  // height: 1.5rem;
  // border-radius: 50%;
  // background-color: rgb(242, 242, 255);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  // text-align: center;
  // line-height: 1.5rem;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: -10px;
  background: white;
  cursor: pointer;
}
.cross:hover {
  color: red;
  font-weight: bolder;
}

.close-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: -10px;
  background: white;
  img {
    width: 8px;
  }
}
.ruppe {
  font-family: $roboto-ruppe !important;
}

.modal-section {
  .cancel-btn,
  .save-btn {
    border: none;
    padding: 10px 15px;
  }
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

select {
  border: none;
}


// utility classes

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.gap-5{
  gap : 5px;
}

.gap-10{
  gap : 10px;
}

.gap-20{
  gap : 20px;
}


.text-bold-md{
  font-weight: 500;
}

.text-bold-sm{
  font-weight: 400;
}

.no-wrap{
  white-space: nowrap;
}


.text-large{
  font-size: 1.2rem;
}

.text-medium{
  font-size: 1rem;
}

.text-small{
  font-size: 0.8rem;
}

.ul-style-none{
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-none{
  border: none;
  outline: none;
  background-color: transparent;
}

.btn{
  background-color: $tabcolor2;

  max-width: 10rem;
  max-height: 4rem;

  letter-spacing: 2px;
  font-size: 0.8rem;
}

.btn-primary{
  background-color: $tabcolor2;
  letter-spacing: 2px;
  font-size: 0.8rem;
  height: 2rem;
  color : white;
}

.btn-outline{
  border: 1px solid $tabcolor2;
  height: 2rem;

  letter-spacing: 2px;
  font-size: 0.8rem;
  color: $tabcolor2;
  background-color: white;

  border-radius: 10px;
}

.place-item-center{
  align-items: center;
  justify-content: center;
}

.responsive-flex-row{
  display: flex;
  flex-direction: row;
}

.input-border{
  border-radius: 10px;
  border: 1px solid #999;
  overflow: hidden;
  padding: 5px 10px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.nowrap{
  white-space: nowrap;
}

.flex-1{
  flex: 1;
}

.border-red{
  border: 1px solid red;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-scroll{
  overflow: scroll;
  scroll-behavior: smooth;
}

.btn-hover:hover{
  opacity: 0.7;
}

.overflow-scroll::-webkit-scrollbar{
  width: 2px;
  
}

@media #{$media-tablet} {
  .responsive-flex-row{
    flex-direction: column;
  }
}