/* @import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "./v1/Assets/Styles/Variables.scss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  /* font:18px/28px; */
  /* font-family: "Montserrat", sans-serif !important; */
  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
  /* background: #2b273a !important; */
  /* color: #fff !important; */
  /* transition: all 1s ease; */
}

input::placeholder,
textarea,
textarea::placeholder,
input {
  font-family: "Poppins", sans-serif;
}
input:focus,
select:focus {
  outline: none;
}
.cursor {
  cursor: pointer;
}
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
  /* monospace; */
}

/* h1{
	font-size:72px;
}
h2{
	font-size:40px!important;
}
h3{
	font-size:36px;
}
h4{
	font-size:30px;
}
h5{
	font-size:24px;
}
h6{
	font-size:18px;
} */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #fff; */
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  box-shadow: 0 0 0px 0px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}
textarea {
  height: 28px;
}


.table-responsive {
  width: 100%;
}

table.product__details__table {
  width: 100%;
  background: #e2e7ff70;
  opacity: 0.96;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 20px;
}

table.product__details__table td,
table.product__details__table th {
  border: 1px solid #ffffff;
  padding: 15px;
}

table.product__details__table tbody td {
  font-size: 13px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  // position: absolute;
  // right: -0.35rem;
  // top: -0.35rem;
  // cursor: pointer;
  // width: 1.5rem;
  // height: 1.5rem;
  // border-radius: 50%;
  // background-color: rgb(242, 242, 255);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  // text-align: center;
  // line-height: 1.5rem;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: -10px;
  background: white;
  cursor: pointer;
}
.cross:hover {
  color: red;
  font-weight: bolder;
}

.close-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -8px;
  top: -10px;
  background: white;
  img {
    width: 8px;
  }
}
.ruppe {
  font-family: $roboto-ruppe !important;
}

.modal-section {
  .cancel-btn,
  .save-btn {
    border: none;
    padding: 10px 15px;
  }
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

select {
  border: none;
}
