@import "../../Assets/Styles/Variables.scss";

.tenant-dashboard-container{
    width: 100vw;
    height: 100vh;

    max-height: 100vh;

    position: relative;
}

.tenant-dashboard-nav{
    max-height: 5rem;
    min-height: 5rem;
    background-color: #2D3748;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    .dashboard-heading{
        color: $tabcolor3;
        letter-spacing: 2px;
        font-size: 2rem;
    }
}

.tenant-dashboard-sidebar-active{
    // min-width: 100%;
    // min-height: 100%;
}

.tenant-dashboard-sidebar{
    min-width: 15%;
    background: $platinum;
}

.tenant-dashboard-active{
    padding: 2rem;
}

.mobile-sidebar-items{
    display: none;
}

@media #{$media-tablet} {
    .reponsive-sidebar{
        display: none;
    }

    .mobile-sidebar-items{
        display: block;
    }

    .tenant-dashboard-active{
        padding: 0.5rem;
    }
}