/* .product_input{
    display: none;
} */
.fa-trash{
    cursor: pointer;
}

.suggestionContainer{
    display: flex;
    flex-direction: row;
}
.suggestionList{
    padding: 8px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

::-webkit-input-placeholder { /* Edge */

    font-size: 18px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 18px;
  }
  
  ::placeholder {
    font-family: monospace;
    font-size: 18px;
  }

select{
  font-size: 12px!important;
  /* width: 140px; */
}