@import "../../Assets/Styles/Variables.scss";

.overlay {
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: #8188fa;
  position: fixed;
  z-index: 998;
  background: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
