
  .sidebar{
    
   width: 140%;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
    padding-top :25%;
   
  }
  .sidebar ul button{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 7%;
    box-sizing: border-box;
    border: 1px solid #042331;
    transition: .4s;
    text-decoration: none;
    border-radius: 5px;
    background-color: #042331;

  }
 
  .sidebar ul  i{
    margin-right: 16px;
  }

 


  
 

