@import "../../Assets/Styles/Variables.scss";

.sidebar-component{
    width: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
    position: relative;
}

.sidebar-component ul{
  margin: 0;
  padding: 0;
  font-size: 1;
  position: relative;
}

.sidebar-ul li{
  padding : 10px 0;
  min-height: 3rem;
  transition-duration: 300ms;
}

.sidebar-ul li button{
  color : #2C5282;
  align-items: center;
  min-width: 100%;
  white-space: nowrap;
  justify-content: flex-start;
}

.active-li{
  font-weight: 500;
  font-size: 1.1rem;
}

.active-bar{
  position: absolute;
  right: 0;
  width: 5px;
  background-color: $tabcolor2;
}

.hide-on-sm{
  display: block;
}

@media #{$media-tablet} {
  .active-bar{
    display: none;
  }

  .sidebar-ul li{
    min-height: fit-content;
    font-size: 1rem;
  }

  .sidebar-ul li bottom:first-child{
    max-width: ma;
  }

  .hide-on-sm{
    display: none;
  }
}


 


  
 

