@import "../../Assets/Styles/Variables.scss";

.location-popup {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  img {
    max-width: 98%;
  }
  * {
    text-align: center;
  }
}

